@model IEnumerable<Sem2Chal2.Models.Games>

@{
    ViewBag.Title = "Previous";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Previous Games</h2>
@Html.ActionLink("All Games", "Index") |
@Html.ActionLink("Upcoming Games", "Upcoming")
<br>
<br>
<br>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Paying Fee
        </th>
        <th>
            Court Fee
        </th>
        <th>
            Venue
        </th>
        <th>
            Game Date
        </th>
        <th>
            Options
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Payee.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.GameID }) |
                @Html.ActionLink("Details", "Details", new { id = item.GameID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.GameID })
            </td>
        </tr>
    }

</table>
